@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
        opacity: 0;
        background-color: #000000;
        background-color:rgb(135, 139, 94);
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoom {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 1.5s ease-in-out forwards;
}

.animate-slide-up {
    animation: slide-up 1.5s ease-in-out forwards;
}

.animate-zoom {
    animation: zoom 1.5s ease-in-out forwards;
}

.fade-enter {
    opacity: 0;
    transform: translateY(20px);
    /* Optional: Add a slight movement */
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    /* Optional: Add a slight movement */
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}